.header {
  height: 5rem;
  background-color: grey;
}

.main-screen {
    background: #f3f4f6;
    .number{
        font-size: 15rem;
        color:  #a3a4a7;
    }
  .filter-panel {
    margin-left: 1rem;
    width: 25%;
    height: 100vh;
    border-right: 2px solid #a3a4a7;
    .panel-inputs {
      height: 2rem;
    }
    .form-group {
      width: 7rem;
      padding-left: 0.5rem;
    }
    .form-control {
      height: 2rem;
    }
    .auth-checkbox {
      margin-top: 0.5rem;
    }
  }
  .list-panel{
      width: 50%;
      border-right: 2px solid #a3a4a7;
  }
  .offer-panel{
      width: 25%;
  }
}
