.header {
  height: 5rem;
  background-color: grey;
}

.main-screen {
    background: #f3f4f6;
    min-height: 100vh;
    .custom-button {
        margin-top: 2rem
    }
    .number {
        font-size: 15rem;
        color:  #a3a4a7;
    }
    .label-font {
        font-weight: bold;
        margin-top: 1rem
    }
  .filter-panel {
    margin-left: 1rem;
    width: 25%;
    border-right: 2px solid #a3a4a7;
    
    .label-filter{
        font-weight: bold;
        margin-top: 2rem
    }
    .block-filter{
        margin-top: 2em;
    }
    .indent-left{
        padding-left: 1rem;
    }
    .panel-inputs {
      height: 2rem;
    }
    .form-group {
      width: 7rem;
      padding-left: 0.5rem;
    }
    .form-control {
      height: 2rem;
    }
    .auth-checkbox {
      margin-top: 0.5rem;
    }
  }
  .list-panel{
      overflow: auto;
      width: 50%;
      border-right: 2px solid #a3a4a7;
  }  
  .offer-panel{
      width: 25%;
      .content{
          padding: 1rem;
      }
  }
}
