.correctionScreen {
  .form-group{
    width: 6rem;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
  }
  background: #f3f4f6;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-around;

  .strategy-card {
    height: 30em;
    width: 45em;
    margin: 2em 0 2em 0;

    .title-card {
      margin-top: 1em;
    }

    .input-card {
      height: 2rem;
      .button{
        margin-top: 0.5rem;
      }
    }
  }
}
